[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
isort = "*"
black = "*"
langchain-ollama = "*"
langchain-tavily = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.12"
